html, body {
  background-color: #000;
  color: #fff;
}

#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: initial;
}

body {
  overflow-x: hidden;
}

img { display: block; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

.section1 {
  margin-top: 72px;
  padding: 0;
}

.section:not(.section1) {
  padding-top: 120px;
  scroll-margin-top: 130px;
}

.main-content-container {
  display: flex;
  width: 100%;
  height: calc(100dvh - 72px);
  position: relative;
}

.map-wrapper {
  flex: 1;
  height: 100%;
  background-color: #000000;
}

@media (min-width: 1920px) {
  #root {
    width: 1920px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    transform-origin: top center;
    transform: scale(calc(100vw / 1920));
  }
}